body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fdf5e6;
    height: 1300px;
}

header {
    background-color: #d9534f;
    color: white;
    text-align: center;
    line-height: 60px;
    box-shadow: 0 2px 5px black;
    top: 0;
}

main {
    margin-top: 20px;
    margin-left: 340px;
    padding: 10px;
    width: 800px;
    height: 1000px;
    background-color: white;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 15px black;
    border-radius: 30px;
}

.discount {
    position: sticky;
    top: 0px;
    padding: 10px;
    background-color: #76b947;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 4px black;
    border-radius: 15px;
    text-align: center;
    font-size: 30px;
}

h2 {
    color: #e63946;
    text-align: center;
}

h3 {
    color: #f19c1f;
    border-left: 5px solid #f19c1f;
}

p, ul, ol {
    color: #444;
    line-height: 1.6;
}

.kosong {
    border-top: 1px dashed #ccc;
    visibility: hidden;
}

.secret {
    position: fixed;
    bottom: 10px;
    background-color: #402D26;
    color: white;
    z-index: 0;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    margin-left: 340px;
}

.secret:hover {
    background-color: #f19c1f;
}

table {
    margin-left: 260px;
    border-spacing: 0;
}

td {
    width: 18px;
    height: 18px;
}

.merah {
    background-color: #e63946;
}

.kuning {
    background-color: #ffcc00;
}

.outline {
    background-color: #402D26;
}